/pos_custom_receipt_es/header_original.xml
/pos_custom_receipt_es/header_new.xml
/pos_custom_receipt_es/new.xml
/pos_custom_receipt_es/original.xml
/es.po
/es(3).po
/es(8).po
.DS_Store
*.zip
__pycache__/
*.pyc
.DS_Store
